# PyCharm project files
.idea/
*.iml

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Env files
.env
*.env.*
*.env

# OS files
.DS_Store
"""

# Data files
data/aggregated/meteo/
data/aggregated/claims/
data/landing/
data/trusted/aemet_deltalake/
# No ignorar carpetas con .gitkeep
!data/.gitkeep

# Logs
logs/


