# PyCharm project files
.idea/
*.iml

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Env files
.env
*.env.*
*.env

# Environment
.venv
*.venv
.venv*

# OS files
.DS_Store
"""

# Data files
data/aggregated/meteo/
data/aggregated/claims/
data/aggregated/claims_classification.parquet
data/external/*.geojson
# No ignorar carpetas con .gitkeep
!data/.gitkeep
# No ignorar ficheros específicos

# Logs
logs/

