# PyCharm project files
.idea/
*.iml

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Env files
.env
*.env.*
*.env

# OS files
.DS_Store
"""

# Data files
# Ignore everything in data/ except data/raw/
data/*
!data/raw/
!data/raw/**


